@charset "UTF-8";  

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
  font-family: 'omyu_pretty';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
h1{
    font-family: 'omyu_pretty';
}
.hide-menu {
  font-size: 16px;
  font-family: 'Pretendard-Regular';
}

.text-fad{
  color: transparent;
  -webkit-text-stroke: 1px #f8b719;
  text-shadow: -1px 0 #dedede, 0 1px #dedede, 1px 0 #dedede, 0 -1px #dedede;
}

.text-d5d{
  color: #d5d5d5;
}
.text-b5b{
  color: #b5b3b3;
}

.sidebar-nav ul .sidebar-item.selected>.sidebar-link, .sidebar-nav ul .sidebar-item.selected>.sidebar-link.active, .sidebar-nav ul .sidebar-item>.sidebar-link.active{
  background-color: #f8b719;
}

.sidebar-nav ul .sidebar-item .sidebar-link:hover{
  background-color: rgb(242 214 162 / 23%);
  color: #f8b719;
}

.bg-719{
  background-color: #f8b719;
}
.text-719,.nav-link,a:hover,.nav-link:focus, .nav-link:hover{
  color: #f8b719;
}

.yellow-circle{
  width: 8px;
  height: 8px;
}

.btn{
  background-color: rgb(242 214 162 / 23%);
}

.btn:hover{
  background-color: #f8b719;
  color: white;
}
.nav-icon-hover:hover:before, .sidebar-nav, .brand-logo{
  background-color: rgb(242 214 162 / 23%);
}
.img-box{
  height: 300px;
}
.img-box-inner{
  top: 64% !important;
  left: 10% !important;
}